.classpath
.project
.settings
.lein-repl-history
*.*#
*.*~
/pom.xml
*jar
*.class
/deployment
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/.lein-cljsbuild*
.lein-plugins/*
/.repl
*.log
/out
/public/javascript
/clojurescript-current
/maximo
/workspace/maximoplus-java/.metadata
/workspace/.metadata
/workspace/maximoplus-java/bin
/target
/repl
/bin
/public/demo/kendo/vex-2.0.1/.gitignore
.nrepl-port
.repl*/
/%P
.shadow-cljs/
node_modules/
outlib/
/package-lock.json
rollup/
js-foreign/out
